:root{
    --fundo: #323332;
    --branco: #fff;
    --preto: #000;
    --secundaria: #5d5d5d
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100vw;
}

#capa{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
}

#brasao-btl img{
    width: 8em;
    height: 13;
    transition: 0.6s;
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 50%));
}

#brasao-btl img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 80%));
    
}

#logotipo img{
    width: 15em;
    height: 10em; 
}

.image-shadow{
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 80%));
}

#escrito{
    text-align: center;
}

#escrito h1{
    margin: 30px 0 0;
    font-family: 'proxima_novabold';
    text-transform: uppercase;
    font-size: 14px;
    color: #242424;
    font-weight: 500;
}

#escrito h2{
    margin: 5px 0 0;
    font-family: 'proxima_novabold';
    text-transform: uppercase;
    font-size: 20px;
    color: #242424;
    letter-spacing: 0.4px;
}

#escrito h3{
    margin: 15px 0 10px 0;
    font-family: 'proxima_novabold';
    text-transform: uppercase;
    font-size: 35px;
    color: #242424;
    letter-spacing: 3px;
    line-height: 30px;
}




/*responsive Navbar*/

.navbar{
    background-color: var(--fundo);
}

.mr{
    margin-right: 7rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover{
    opacity: 0.5;
}

.dropdown-menu{
    background-color: var(--fundo) !important;
}

.dropdown-menu a{
    color: #fff;
}




/*Carrousel*/


#container-carousel{
    width: 100%;
    margin-top: 0;
}

#container-carousel a{
    text-decoration: none;
    color: var(--branco);
}

.leia-mais{
    text-transform: uppercase;
    font-weight: bold;
}

.img-carousel{
    height: 700px;
}

.fundo-opaco{
    background-color: black;
    opacity: 0.6;
}

/*Container meio*/

#container-divisao{
    width: 100%;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url(imagens/fundo.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container-divisao h1{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 15px;
}

/*Companhias*/

#container-companhias{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 400px;
}

.imagem-cia{
    height: 200px;
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 60%));
}

#container-companhias div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    transition: .6s;
    border-radius: 10px;
}

#container-companhias h3{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

#container-companhias a{
    text-decoration: none;
}

#container-companhias div:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 80%));
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/*Footer*/


#container-footer{
    background-color: var(--fundo);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-footer-social{
    text-align: center;
}

.centraliza{
    text-align: center;
}

.centraliza-icones{
     display: flex;
     justify-content: center;
     
}

#container-footer img{
    width: 150px;
    height: 200px;
}

#container-footer h6, h5, p{
    color: #fff;
    text-transform: uppercase;
}

#container-footer h6{
    font-size: 30px;
    margin-bottom: 50px;
}

#container-footer p{
    font-size: 15px;
    margin-bottom: 0;
}

#container-footer h5{
    color: #fff;
    font-size: 20px;
}


footer .fa {
    font-size: 40px;
    padding: 20px;
    margin-bottom: 0;
    text-decoration: none;
    color: rgb(190, 55, 55);
    transition: 0.4s ease-in;
  }

  footer .fa-youtube:hover{
    color: red;
    text-decoration: none;
    transform: scale(1.2);
    opacity: 0.7;
  }

  footer .fa-instagram:hover{
    color: rgb(165, 26, 26);
    text-decoration: none;
    transform: scale(1.2);
    opacity: 0.7;
  }

  #container-footer-social img:hover{
    text-decoration: none;
    transform: scale(1.2);
    opacity: 0.7;
  }


#container-footer-social p{
    font-size: 10px;
    text-align: center;
}

#rodape{
    background-color: var(--fundo);
    text-align: center;
    padding: 20px 0 5px 0;
}

#rodape p{
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 13px;
    letter-spacing: 1px;
    
}


hr{
    background-color: #fff;
    opacity: 0.3;
    width: 90%;
    margin: 0 auto;
}

#container-footer-social img{
    width: 40px;
    height: 40px;
    margin: 25px 20px 16px 19px;
    transition: 0.4s ease-in
}



/*Mobile*/

@media(max-width: 1350px){
    .mr{
        margin-right: 5rem;
    }
}

@media(max-width: 1190px){
    .mr{
        margin-right: 3rem;
    }

    .img-carousel{
        height: 600px;
    }
}

@media(max-width: 830px){
    #logotipo{
        display: none;
    }

    .img-carousel{
        height: 650px;
    }

}

@media (max-width: 750px) {
    #container-companhias{
        flex-wrap: wrap;
        height: 500px;
    }
    
    .imagem-brasao{
        display: none;
    }

    #container-footer{
        flex-direction: column;
        height: 300px;
    } 

    #container-footer h6{
        margin-top: 30px;
    }

    .img-carousel{
        height: 600px;
    }

    #container-divisao h1{
        font-weight: 900;
        font-size: 45px;
        letter-spacing: 15px;
    }
}

@media (max-width: 600px){
    #container-divisao h1{
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 15px;
    }

    #container-footer-social h5{
        margin-top: 15px;
    }

    #escrito{
        display: none;
    }

    .img-carousel{
        height: 500px;
    }

    #escrito{
        display: none;
    }
}

@media (max-width: 450px) {
    #container-companhias{
        height: 900px;
    }

    .img-carousel{
        height: 450px;
    }
    
}